<section class="navbar">
  <ul class="navbar__list">
    <li class="navbar__list__item navbar__list__item--active">
      <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
      Swiggy</li>
    <li class="navbar__list__item">
      <fa-icon [icon]="faSearch"></fa-icon>
      Search</li>
    <li class="navbar__list__item">
      <fa-icon [icon]="faShoppingBag"></fa-icon>
      Cart</li>
    <li class="navbar__list__item">
      <fa-icon [icon]="faUserAlt"></fa-icon>
      Account</li>
  </ul>
</section>
