<section class="offers">
  <ul class="offers__list">
    <li class="offers__list__item">
      <img src="../../../assets/images/banner/offer1.jpg" alt="" class="offers__list__item__img">
    </li>
    <li class="offers__list__item">
      <img src="../../../assets/images/banner/offer4.jpg" alt="" class="offers__list__item__img">
    </li>
    <li class="offers__list__item">
      <img src="../../../assets/images/banner/offer3.jpg" alt="" class="offers__list__item__img">
    </li>
  </ul>
</section>
