<section class="spotlight">
  <h1 class="spotlight__title">
    In the Spotlight!
  </h1>
  <p class="spotlight__subtitle">
    Explore sponsored partner brands
  </p>

  <img src="" alt="" class="spotlight__restaurant__thump">
  <div class="spotlight__restaurant__discount">20% off</div>
  <div class="spotlight__restaurant__name">Shanmukha Restaurant</div>
  <div class="spotlight__restaurant__address">Lorem ipsum dolor sit amet consectetur.</div>
  <div class="spotlight__restaurant__info">
    4.2  |  32 mins | 300 for two
  </div>
  <div class="spotlight__restaurant__coupon"></div>


</section>
