<section class="spotlight">
  <h1 class="spotlight__title">
    <fa-icon [icon]="faStoreAlt"></fa-icon>
    In the Spotlight!
  </h1>
  <p class="spotlight__subtitle">
    Explore sponsored partner brands
  </p>

  <ul class="spotlight__list">
    <li class="spotlight__item" *ngFor="let item of restaurantInfos; let i = index">
      <!-- {{restaurantInfos[i].name}} -->
      <div *ngIf="i%2 === 0">
        <app-restaurant-info [restaurantInfo]="restaurantInfos[i]"></app-restaurant-info>
        <app-restaurant-info [restaurantInfo]="restaurantInfos[i+1]"></app-restaurant-info>
      </div>
    </li>
  </ul>
</section>
