<section class="banner">
  <div class="banner__card">
    <img
      src="../../../assets/images/banner/res-bg.webp"
      alt=""
      class="banner__card__img"
    />
    <h1 class="banner__card__title">
      Restaurants
    </h1>
    <p class="banner__card__subtitle">
      No-contact delivery
    </p>
  </div>

  <div class="banner__card">
    <img
      src="../../../assets/images/banner/gr3-bg.png"
      alt=""
      class="banner__card__img"
    />

    <h1 class="banner__card__title">
      Grocery
    </h1>
    <p class="banner__card__subtitle">
      Essentials Delivered in 2hrs
    </p>
  </div>
</section>

<section class="banner-small">
  <ul class="banner-small__list">
    <li class="banner-samll__list__item" *ngFor="let item of smallBanners">
      <app-info-card-small
        [name]="item.name"
        [badge]="item.badge"
        [imgUrl]="item.imgUrl"
      ></app-info-card-small>
    </li>
  </ul>
</section>
