<section class="popular">
  <h1 class="popular__title">
    Popular Brands
  </h1>
  <p class="popular__subtitle">
    Most ordered from around your localicty
  </p>
  <ul class="popular__list">
    <li class="popular__list__item">
      <app-info-card-small imgUrl="../../../assets/images/brands/burger-kings.png" rounded="true" name="Burger Kings" time="33 mins"></app-info-card-small>
    </li>
    <li class="popular__list__item">
      <app-info-card-small imgUrl="../../../assets/images/brands/kfc.jpeg" rounded="true" name="KFC" time="24 mins"></app-info-card-small>
    </li>
    <li class="popular__list__item">
      <app-info-card-small imgUrl="../../../assets/images/brands/mcd.jpeg" rounded="true" name="McD" time="30 mins"></app-info-card-small>
    </li>
    <li class="popular__list__item">
      <app-info-card-small imgUrl="../../../assets/images/brands/pizza-hut.jpeg" rounded="true" name="Pizza Hut" time="22 mins"></app-info-card-small>
    </li>
    <li class="popular__list__item">
      <app-info-card-small imgUrl="../../../assets/images/brands/subway.jpeg" rounded="true" name="Subway" time="17 mins"></app-info-card-small>
    </li>
    <li class="popular__list__item">
      <app-info-card-small imgUrl="../../../assets/images/brands/dominos.jpeg" rounded="true" name="Domino's Pizza" time="12 mins"></app-info-card-small>
    </li>
  </ul>
</section>
