
  <section class="coupons">
    <h1 class="coupons__title">
      Coupons For You
    </h1>

    <ul class="coupons__list">
      <li class="coupons__list__item" *ngFor="let item of coupons">
        <div class="coupons__list__item__thumb">
          <img src="item.imgUrl" alt="" class="coupons__list__item__thumb_img" *ngIf="item.imgUrl">
          <fa-icon class="coupons__list__item__thumb__icon" [icon]="faPercentage"></fa-icon>
        </div>
        <div class="coupons__list__item__info">
          <div class="coupons__list__item__info__name">{{item.name}}</div>
          <div class="coupons__list__item__info__code">{{item.code}}</div>
        </div>
      </li>
    </ul>
  </section>
