.coupons {

  &__list {
    display: flex;
    margin: .75rem 0;
    overflow-x: auto;


    &__item {
      border-radius: 5px;
      border: 1px #ccc solid;
      padding: .5rem 2rem .5rem .5rem;
      margin: 0 1rem 0 0;
      min-width: 6rem;
      display: flex;
      font-size: .9rem;
      font-weight: 900;
      color: rgb(65, 64, 64);

      &__thumb {
        background-color: indianred;
        width: 3rem;
        height: 2rem;
        margin: auto .3rem auto .3rem;
        padding-top: .75rem;
        text-align: center;
        border-radius: 5px;

        &__icon {
          margin-top: 1rem;
          padding-top: 1rem;
          color: ivory;
          font-size: 1rem;
        }
      }

      &__info {
        &__code {
          text-transform: uppercase;
          color: rgb(163, 159, 159);
        }
      }
    }
  }

}
